
*,
body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
}

body {
  background-color: #d7dfe2;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.disppear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

::-webkit-scrollbar {
  background-color: #ddd;
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: #d7dfe2;
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px #546e7a;
}
::-webkit-scrollbar-thumb {
  background-color: #546e7a;
  border-radius: 10px;
}
#Bu1 {

  color: #546e7a;
  width: 100px;
  height: 60px;
  background-color: #d7dfe2;
  border-style: none;
  font-size: 20px;
}

#Bu1:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px #546e7a;
  cursor: pointer;
}
#Bu2 {
  color: #546e7a;
  width: 100px;
  height: 60px;
  background-color: #d7dfe2;
  border-style: none;
  font-size: 20px;
  margin-right: 6px;
}

#Bu2:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px #546e7a;
  cursor: pointer;
}
#Bu3 {
  color: #546e7a;
  width: 100px;
  height: 60px;
  background-color: #d7dfe2;
  border-style: none;
  font-size: 20px;
  margin-left: 5px;
}

#Bu3:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px #546e7a;
    cursor: pointer;

}
html {
  scroll-behavior: smooth;
}

#goup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-style: none;
  /* background-color: #ff0080; */
  background-color: #546e7a;
  border-radius: 96px;
  opacity: 0;
  transition: opacity 0.5s;
}

#goup:hover {
  cursor: pointer;
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
  inset 5px 5px 10px #546e7a;
}

.menu {
  box-shadow: 10px 5px 50px #000;
  */
  width: 99.2%;
  height: 60px;
  background-color: #d7dfe2;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.6),
    5px 5px 10px rgba(0, 0, 0, 0.3);
  color: #546e7a;
  padding-left: 10px;
  z-index: 50;
}

.menu #logo {
  float: left;
  height: 30px;
  padding: 5px;
  padding-right: 50px;
  line-height: 30px;
}
.Logo-L {
  width: 100px;
  height: 50px;
}
.Logo-R {
  position: relative;
  top: 70px;
}
.menu > ul {
  margin: 0;
  padding: 0px;
  float: left;
  list-style-type: none;
  z-index: 50;
}

.menu > ul > li {
  float: left;
  animation: mnu 2s forwards;
}

.menu-item {
  display: inline-block;
  padding: 15px 20px;
  line-height: 30px;
  text-decoration: none;
  height: 30px;
  color: #546e7a;
  z-index: 50;
  animation: mnu 2s forwards;
}
@keyframes mnu {
  0% {
    display: none;
    opacity: 0;
  }
  75% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.menu-item:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px #546e7a;
}

.sub-drop {
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 50;
  animation: mnu 2s forwards;
}

.sub-drop ul li a {
  display: inline-block;
  padding: 20px 37px;
  z-index: 50;
  animation: mnu 2s forwards;
}

.sub-drop ul li:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px #546e7a;
}

.sub-cont {
  position: absolute;
  top: 60px;
  overflow: hidden;
  background-color: #d7dfe2;
  max-height: 0px;
  z-index: 50;
  animation: mnu 2s forwards;
}

.sub-cont a {
  color: #546e7a;
  text-decoration: none;
  animation: mnu 2s forwards;
}
.menur {
  position: absolute;
  right: 150px;
  z-index: 2;
}

.menu ul li:hover .sub-cont {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

@media (max-width: 750px) {
  .menu {
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 5em;
    font-size: 20px;
  }

  /*-------------------heder contante---------------------*/

  .col {
    font-size: 90px;
  }
  .Desainer {
    display: inline-block;
    position: absolute;
    left: 10px;
    margin: 38px;
    margin-top: 70px;
  }
  #Bu1 {
    position: absolute;
    top: -20px;
    width: 150px;
    height: 100%;
    margin-top: 20px;
  }
  #Bu2 {
    position: absolute;
    top: -20px;
    width: 150px;
    height: 100%;
    margin-left: 150px;
    margin-top: 20px;
  }

  .menur {
    position: absolute;
    margin-top: 20px;
    float: right;
    right: 10px;
    top: 15px;
  }
  .sub-cont {
    width: 150px;
    text-align: center;
  }
  .conweb {
    position: relative;
    top: 100px;
    width: 700px;
    margin-bottom: 540px;
  }
  #goup {
    position: fixed;
    left: 650px;
  }
  /*-------------------heder contante---------------------*/
  .skillsTXT {
    margin: auto;
    text-align: center;
  }
  .skillsAE {
    transform-origin: left;
    width: 750px;
  }
  .Ae {
    font-family: sans-serif;
    position: absolute;
    left: 150px;
  }
  .Aeimage {
    position: absolute;
    top: 5px;
    left: -10px;
    margin: 5px;
  }

  #count {
    position: absolute;
    right: 50%;
    left: 50%;
  }
  #myprog {
    left: 100px;
  }
  .skillsAI {
    background-image: url("../Imags/Icons/Ai.svg");
    background-position: 25px 20px;
    background-size: 100px;
    background-repeat: no-repeat;
    transform-origin: left;
    width: 750px;
  }
  .Ai {
    font-family: sans-serif;
    position: absolute;
    left: 150px;
  }
  .Aiimage {
    display: none;
    height: 50px;
    position: absolute;
    top: 5px;
    left: -10px;
    margin: 5px;
  }
  #count1 {
    position: absolute;
    right: 50%;
    left: 50%;
  }
  #myprog1 {
    left: 100px;
  }
  .skillsPS {
    transform-origin: left;
    width: 750px;
  }

  .Ps {
    font-family: sans-serif;
    position: absolute;
    left: 150px;
  }
  .Psimage {
    display: none;
    position: absolute;
    top: 5px;
    left: -10px;
    margin: 5px;
  }

  #count2 {
    position: absolute;
    right: 50%;
    left: 50%;
  }
  #myprog2 {
    left: 100px;
  }
  .skillsPS {
    background-image: url("../Imags/Icons/Ps.svg");
    background-position: 25px 20px;
    background-size: 100px;
    background-repeat: no-repeat;
    transform-origin: left;
    width: 750px;
  }
}
